* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header_container {
    max-height: 203px;
    height: 100%;
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 63px;
}

#heading_container {
    max-width: 704px;
    width: 100%;
    max-height: 86px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 53px;
}

h1 {
    color: #000;
    font-family: Lato;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#overview_container {
    max-width: 1220px;
    width: 100%;
    max-height: 64px;
    height: 100%;
}

#overview {
    text-align: center;
    color: #FF8000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700px;
    line-height: 32px;
    padding-left: 50px;
}

#bigbang_container {
    max-width: 696px;
    width: 100%;
    max-height: 662px;
    height: 100%;
    margin-right: auto;
    margin-left: 67px;
    margin-bottom: 101px;
}

#bigbang_heading_container {
    max-width: 681px;
    width: 100%;
    max-height: 48px;
    height: 100%;
    }

#bigbang_heading {
    color: #D9AE00;
    text-transform: uppercase;
    text-align: left;
    font-style: normal;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

#bigbang_content_container {
    max-width: 688px;
    width: 100%;
    max-height: 145px;
    height: 100%;
    margin-bottom: 30px;
}

#bigbang_content {
    color: #6D81B4;
    font-size: 24px;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    line-height: 29px;
    padding-right: 15px;
}

#bigbang_svg_container {
    height: 415px;
}

#blackhole_container {
    max-width: 1007px;
    width: 100%;
    max-height: 717px;
    height: 100%;
    padding: 64px;
    margin-left: 74px;
    margin-right: auto;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #ff4e50;
    border-bottom: 2px sollid #ff4e50;
    background-color: #FFCEBE;
}

#blackhole_info {
    width: 879px;
    margin: 0 auto;
}

#blackhole_heading {
    color: #F44E50;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    font-family: Lato;
    font-style: normal;
    width: 681px;
    line-height: 48px;
    margin-bottom: 24px;
}

#blackhole_content_container {
    width: 681px;
    height: 72px;
    margin: 0 auto;
    padding-left: 15px;
}

#blackhole_content {
    color: #8B2B2C;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

#blackhole_svg {
    margin-top: 30px;
    width: 879px;
    height: 415px;
}



